.content-price {
  text-decoration: none;
}

.content-price__list {
  text-decoration: none;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    grid-template-columns: 709px;
    grid-row: 120px 20px 54px 609px;
  }
}

.content-price__item {
  text-decoration: none;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas:
      "title background-image"
      "text  background-image"
      "link  background-image";
    grid-column: 340px 360px;
    grid-row: 709px 709px 709px;
  }
}

.content-price__item::after:nth-child(1n) {
  background-image: url("../../icons/cat_back_slim.svg");
  background-repeat: no-repeat;
  background-size: 50px 53px;

  @media (min-width: $tablet-width) {
    background-size: 200px 200px;
    position: relative;
  }
}

.content-price__item::after:nth-child(2n) {
  background-image: url("../../icons/cat_back-pro.svg");
  background-repeat: no-repeat;
  background-size: 67px 50px;

  @media (min-width: $tablet-width) {
    background-size: 268px 200px;
  }
}

.content-price__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin-left: 80px;
}

.content-price__text {
  width: 227px;
  height: 90px;
  top: 596px;
  left: 40px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

.content-price__img-skinny {
  width: 50px;
  height: 53px;
  top: 521px;
  left: 40px;
}

.content-price__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}


.content-price__icon::after {
  mask-image: url("../../icons/stack.svg#arrow");
  mask-repeat: no-repeat;
  mask-size: 32px 10px;
  background-color: #000000;
  mask-position: 56px;
}

.content-price__icon::after:active {
  mask-image: url("../../icons/stack.svg#arrow");
  mask-repeat: no-repeat;
}

.content-price__icon::after:hover {
  mask-image: url("../../icons/stack.svg#arrow-hover");
  mask-repeat: no-repeat;
}

.content-price__icon::after:focus {
  mask-image: url(".../../icons/stack.svg#arrow-focus");
  mask-repeat: no-repeat;
}
