.form {
  width: fill (280px)px;
  height: hug (128px)px;
  border-bottom: 2px solid #68b738;
  border-width: 108px 0;
}

.form__label {
  text-decoration: none;
}

.form__input {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 29.64px;
  text-align: left;
  color: #444444;
}

.form__submit {
  width: fill (280px)px;
  height: fixed (56px)px;
  background-color: #68b738;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}
