header {
  background-color: #ffffff;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  justify-content: space-between;
}
