.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #111111;

  & picture {
    display: contents;
  }

  &:hover,
  &:focus {
    color: #3e3e3e;
  }

  &:active {
    color: #6b6b6b;
  }
}

.logo__image {
  display: block;

  @media (min-width: $tablet-width) {
    margin-right: 13px;
  }
}

.logo__text {
  display: block;
  // padding: 0 13px;
}
