$main-nav-separate-border: 1px solid #e6e6e6;

// .main-nav {

// }

.main-nav__list {
  @include list();
  color: inherit;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-flow: row wrap;
    gap: 0 13px;
    align-items: center;
    justify-content: end;
  }
}

.main-nav__item {
  border-top: $main-nav-separate-border;

  &:where(:last-of-type) {
    border-bottom: $main-nav-separate-border;
  }

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-nav__link {
  --padding: 23px;
  padding: var(--padding);
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus-visible {
    // color: rgba($main-nav-link-color, 0.6);
    opacity: 0.6;
  }

  &:active {
    // color: rgba($main-nav-link-color, 0.3);
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    --padding: 10px;
    position: relative;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__link--current::after {
  @media (min-width: $tablet-width) {
    content: "";
    display: block;
    position: absolute;
    width: auto;
    height: 2px;
    bottom: 0;
    left: var(--padding);
    right: var(--padding);
    background-color: $bg-secondary-color;
  }
}

.main-nav__link--current-with-bg::after {
  @media (min-width: $desktop-width) {
    background-color: currentColor;
  }
}
